@import '../../variables.less';

.@{prefix-cls}-drag-source {
  flex-wrap: wrap;
  &-header {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: var(--ud-drag-source-header-color);
    border-bottom: 1px solid var(--ud-drag-source-header-border-color);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    font-size: 14px;

    &:hover {
      color: var(--ud-drag-source-header-hover-color);
    }

    &-expand {
      transform: rotate(-90deg);
      font-size: 10px;
      transition: all 0.15s ease-in-out;
    }

    &-content {
      margin: 0 3px;
    }
  }

  &-content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    display: none;
    justify-content: center;
  }

  &.expand {
    .@{prefix-cls}-drag-source-content {
      display: flex;
    }

    .@{prefix-cls}-drag-source-header {
      color: var(--ud-drag-source-header-hover-color);
    }

    .@{prefix-cls}-drag-source-header-expand {
      transform: rotate(0);
    }
  }

  &-item {
    user-select: none;
    padding: 8px 10px;
    margin: 5px;
    cursor: pointer;
    width: 120px;
    border: 1px dashed var(--ud-drag-source-item-border-color);
    color: var(--ud-drag-source-item-color);
    display: flex;
    align-items: center;
    font-size: 12px;
    &:hover {
      border: 1px dashed var(--ud-drag-source-item-hover-border-color);
      color: var(--ud-drag-source-item-hover-color);
    }
  }
}
